// ------------------- App.js ----------------
.app_cont{
  display: flex;
  flex-direction: column;
}


// --------------- BackgroundApp.jsx ---------
.bg_cont{
  position: absolute;
    top: 0;
    left: 0;
  height: auto;
  width: auto;
  overflow: hidden;
  z-index: -100;

  .bg_video{
    position: fixed;
      top: 0;
      left: 0;
    width: auto;
    height: auto;

    //filter: grayscale(100%);
    //-webkit-filter: grayscale(100%);
    //-moz-filter: grayscale(100%);
    //-o-filter: grayscale(100%);
    //-webkit-filter: grayscale(1);

    //filter: alpha(Opacity=100); /* Полупрозрачность для IE */
    //opacity: 1.00; /* Полупрозрачность для других браузеров */

    z-index: -100;
  }
}

// ------------------ Navbar.jsx ----------------
.navbar_cont{
  background-color: #001529;

  .navbar_link{
    display: inline !important;
  }
}

/* Login.jsx */
.login_cont{
  margin: 20px auto;

  .login_form{
    max-width: 350px;
  }

  .login_form_forgot{
    float: right;
  }

  .login_form_button{
    width: 100%;
  }
}


// --------------- Registration.jsx -----------
.reg_cont{
  margin: 20px auto;

  .reg_checkbox{
    line-height: normal;
  }
}

// -------------------- media -----------------
@media (max-width: 1024px) {
  //.bg_video{
  //  width: auto;
  //  height: 100%;
  //}
}
